<!-- TODOssss timepicker scenarios to consider:
 - Date range picker
 - Month range picker
 - Year range picker
 - Time picker on date range picker
 - Time picker solo
 - Customized styling
-->

<!-- ------------------- -->
<!-- Material timepicker -->
<!-- ------------------- -->

<!-- Material: Date range picker -->
<mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<!-- Material: Month range picker -->
<mat-form-field>
  <mat-label>Month and Year</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="dateMaterial">
  <mat-hint>MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (monthSelected)="setMonthAndYear($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

<!-- ------------------ -->
<!-- PrimeNG timepicker -->
<!-- ------------------ -->

<!-- PrimeNG: Date range picker -->
<div class="card flex justify-center">
  <p-datepicker [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" />
</div>

<!-- PrimeNG: Month range picker -->
<div class="card flex justify-center">
  <p-datepicker [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" view="month" dateFormat="mm/yy" />
</div>

<!-- PrimeNG: Year range picker -->
<div class="card flex justify-center">
  <p-datepicker [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" view="year" dateFormat="yy" />
</div>

<!-- NgZorro timepicker -->
<nz-range-picker [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
<br />
<nz-range-picker [nzShowTime]="true" [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
<br />
<nz-range-picker nzMode="week" [(ngModel)]="dateNgZorro" (ngModelChange)="getWeek($event)"></nz-range-picker>
<br />
<nz-range-picker nzMode="month" [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
<br />
<nz-range-picker nzMode="quarter" [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
<br />
<nz-range-picker nzMode="year" [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>