<!-- TODOssss timepicker scenarios to consider:
 - Date range picker
 - Month range picker
 - Year range picker
 - Time picker on date range picker
 - Time picker solo
 - Customized styling
-->

<div class="timepickers-collection">
  <!-- ------------------- -->
  <!-- Material timepicker -->
  <!-- ------------------- -->

  <!-- Material: Date range picker -->
  <div class="timepicker-container">
    <h2 class="playground-header">Material: Date</h2>
    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    
    <!-- Material: Month range picker -->
    <mat-form-field>
      <mat-label>Month and Year (broken, moment.js)</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="dateMaterial">
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (monthSelected)="setMonthAndYear($event, dp)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>

    <!-- Material: Time picker -->
    <mat-form-field>
      <mat-label>Pick a time</mat-label>
      <input matInput [matTimepicker]="tp">
      <mat-timepicker-toggle matIconSuffix [for]="tp"/>
      <mat-timepicker #tp/>
    </mat-form-field>
  </div>

  <!-- ------------------ -->
  <!-- PrimeNG timepicker -->
  <!-- ------------------ -->
  <div class="timepicker-container">
    <h2 class="playground-header">PrimeNG: Date</h2>
    <!-- PrimeNG: Date range picker -->
    <p-iftalabel>
      <p-datepicker inputId="date_range_picker" [(ngModel)]="rangeDates" selectionMode="range" />
      <label for="date_range_picker">Date Range</label>
    </p-iftalabel>

    <!-- PrimeNG: Month range picker -->
    <p-iftalabel>
      <p-datepicker inputId="month_range_picker" [(ngModel)]="rangeDates" selectionMode="range" view="month" dateFormat="mm/yy" />
      <label for="month_range_picker">Month Range</label>
    </p-iftalabel>

    <!-- PrimeNG: Year range picker -->
    <p-iftalabel>
      <p-datepicker inputId="year_range_picker" [(ngModel)]="rangeDates" selectionMode="range" view="year" dateFormat="yy" />
      <label for="year_range_picker">Year Range</label>
    </p-iftalabel>

    <!-- PrimeNG: Date + Time picker -->
    <p-iftalabel>
      <p-datepicker inputId="date_time_picker" [(ngModel)]="datetime12h" [showTime]="true" [hourFormat]="'12'" />
      <label for="date_time_picker">Date Time</label>
    </p-iftalabel>
    
    <!-- PrimeNG: Time picker -->
    <p-iftalabel>
      <p-datepicker inputId="time_picker" [(ngModel)]="time" [timeOnly]="true" />
      <label for="time_picker">Time</label>
    </p-iftalabel>

    <!-- PrimeNG: Date + Time range picker -->
    <!-- Note: ranged date with time selector is broken (hour does not increment) -->
    <p-iftalabel>
      <p-datepicker inputId="date_time_range_picker" [(ngModel)]="rangedatetime12h" [showTime]="true" [hourFormat]="'12'" selectionMode="range" />
      <label for="date_time_range_picker">Date Time Range (broken)</label>
    </p-iftalabel>
  </div>

  <!-- ------------------ -->
  <!-- NgZorro timepicker -->
  <!-- ------------------ -->
  <div class="timepicker-container">
    <h2 class="playground-header">NgZorro: Date</h2>
    <!-- Note: While it provides lots of options, not visible on mobile, as shown on two calendar views -->
    <nz-range-picker [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
    <br />
    <nz-range-picker [nzShowTime]="true" [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
    <br />
    <nz-range-picker nzMode="week" [(ngModel)]="dateNgZorro" (ngModelChange)="getWeek($event)"></nz-range-picker>
    <br />
    <nz-range-picker nzMode="month" [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
    <br />
    <nz-range-picker nzMode="quarter" [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
    <br />
    <nz-range-picker nzMode="year" [(ngModel)]="dateNgZorro" (ngModelChange)="onChange($event)"></nz-range-picker>
  </div>

  <!-- ------------------ -->
  <!-- Carbon timepicker -->
  <!-- ------------------ -->

  <div class="timepicker-container">
    <h2 class="playground-header">Carbon: Date</h2>
    
    <!-- Carbon: Date range -->
    <h6>Date picker</h6>
    <cds-date-picker
      [label]="'Date Range'"
      [range]="true"
      [dateFormat]="carbonDateFormat"
      [flatpickrOptions]="carbonFlatpickrOptions"
      (valueChange)="carbonValueChangeCarbon($event)"
    >
    </cds-date-picker>

    <!-- Carbon: Time picker -->
    <!-- Example broken (no time period input): https://angular.carbondesignsystem.com/?path=/story/components-timepicker--basic -->
    <h6>Time picker (example broken, missing time input field)</h6>
    <cds-timepicker
      (valueChange)="carbonTimePickerChange($event)"
      [(ngModel)]="carbonTime"
      label="Select a time">
      <cds-timepicker-select
          (valueChange)="carbonTimePickerSelectChange($event)"
          [(ngModel)]="carbonPeriod"
          ariaLabel="Open list of options">
          <option selected value="AM">AM</option>
          <option value="PM">PM</option>
      </cds-timepicker-select>
      <cds-timepicker-select
          (valueChange)="carbonTimePickerSelectChange($event)"
          [(ngModel)]="carbonTimeZone"
          ariaLabel="Open list of options">
          <option selected value="Time Zone 1">Time Zone 1</option>
          <option value="Time Zone 2">Time Zone 2</option>
      </cds-timepicker-select>
  </cds-timepicker>
  <br>
  <p> Input: {{carbonTime}} </p>
  <p> Period: {{carbonPeriod}} </p>
  <p> Time Zone: {{carbonTimeZone}} </p>

  </div>

</div>