:host {
  display: block;
}


.select-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  align-items: center;
  justify-content: center;

  width: 300px;
}

.select-collection {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}

// Material styling
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
  line-height: 1;
}

// NgZorro styling
nz-select {
  width: 100%;
}
