<div class="select-collection">
  <div class="select-container">
    <!-- Material select, with form control -->
    <h2 class="playground-header">Material: Select</h2>
    <mat-form-field>
      <mat-label>Select a City</mat-label>
      <mat-select [formControl]="selectedCity">
        @for (city of cities; track city) {
          <mat-option [value]="city.code">{{city.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Material multi-select, with ngModel -->
    <mat-form-field appearance="outline">
      <mat-label>Select Cities</mat-label>
      <mat-select [(ngModel)]="selectedCities" multiple>
        @for (group of groupedCities; track group) {
          <mat-optgroup [label]="group.label"
                        [disabled]="false">
            @for (city of group.items; track city) {
              <mat-option [value]="city.value">{{city.label}}</mat-option>
            }
          </mat-optgroup>
        }
        <mat-select-trigger>
          {{selectedCities?.[0] || ''}}
          @if ((selectedCities?.length || 0) > 1) {
            <span class="example-additional-selection">
              (+{{(selectedCities?.length || 0) - 1}} {{selectedCities?.length === 2 ? 'other' : 'others'}})
            </span>
          }
        </mat-select-trigger>
      </mat-select>
    </mat-form-field>

    <!-- Material select (filled), with custom styling -->
    <mat-form-field class="customized-mat-form-field" appearance="fill">
      <mat-label>Select a City</mat-label>
      <mat-select [formControl]="selectedCity">
        @for (city of cities; track city) {
          <mat-option [value]="city.code">{{city.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Material multi-select (outlined), custom styling -->
    <mat-form-field class="customized-mat-form-field" appearance="outline">
      <mat-label>Select Cities</mat-label>
      <mat-select [(ngModel)]="selectedCities" multiple class="customized-mat-select">
        @for (group of groupedCities; track group) {
          <mat-optgroup [label]="group.label"
                        [disabled]="false">
            @for (city of group.items; track city) {
              <mat-option [value]="city.value">{{city.label}}</mat-option>
            }
          </mat-optgroup>
        }
        <mat-select-trigger>
          {{selectedCities?.[0] || ''}}
          @if ((selectedCities?.length || 0) > 1) {
            <span class="example-additional-selection">
              (+{{(selectedCities?.length || 0) - 1}} {{selectedCities?.length === 2 ? 'other' : 'others'}})
            </span>
          }
        </mat-select-trigger>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="select-container">
    <h2 class="playground-header">PrimeNG: Select</h2>
    <!-- PrimeNG select -->
    <p-select [options]="cities" [formControl]="selectedCity" optionLabel="name" optionValue="code" placeholder="Select a City" />
    
    <!-- PrimeNG multi-select, with ngModel -->
    <p-multiselect [options]="groupedCities" [group]="true" [(ngModel)]="selectedCities" placeholder="Select Cities" scrollHeight="250px" styleClass="w-full md:w-80">
      <ng-template let-group #group>
        <div class="flex items-center">
          <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiselect>

    <!-- PrimeNG select (customized styling) -->
    <p-select [options]="cities" [formControl]="selectedCity" optionLabel="name" optionValue="code" placeholder="Select a City" 
              [dt]="customizedPrimengSelect"/>

    <!-- PrimeNG multi-select (customized styling) -->
    <p-multiselect [options]="groupedCities" [group]="true" [(ngModel)]="selectedCities" placeholder="Select Cities" scrollHeight="250px" styleClass="w-full md:w-80" 
                   [dt]="customizedPrimengSelect">
      <ng-template let-group #group>
        <div class="flex items-center">
          <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiselect>
  </div>

  <div class="select-container">
    <h2 class="playground-header">NgZorro: Select</h2>
    <!-- NgZorro select, with form control -->
    <nz-select
      nzPlaceHolder="Select a City"
      [formControl]="selectedCity"
    >
      @for (city of cities; track city) {
        <nz-option nzValue="{{city.code}}" nzLabel="{{city.name}}"></nz-option>
      }
    </nz-select>

    <!-- NgZorro multi-select, with ngModel -->
    <nz-select
      [nzMaxTagCount]="3"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Select Cities"
      [(ngModel)]="selectedCities"
    >
      @for (group of groupedCities; track group) {
        <nz-option-group nzLabel="{{group.label}}">
          @for (city of group.items; track city) {
            <nz-option nzValue="{{city.value}}" nzLabel="{{city.label}}"></nz-option>
          }
        </nz-option-group>
      }
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList>(+{{ selectedList.length }} others)</ng-template>
  </div>

  <div class="select-container">
    <h2 class="playground-header">Carbon: Select</h2>

    <!-- Carbon single-select, with groupings -->
    <cds-select
      [label]="'Select city from a group'"
      [formControl]="selectedCity"
    >
      @for (group of groupedCities; track group) {
        <optgroup label="{{group.label}}">
          @for (city of group.items; track city) {
            <option value="{{city.value}}">{{city.label}}</option>
          }
        </optgroup>
      }
    </cds-select>

    <!-- Carbon multi-select (dropdown), with ngModel -->
    <cds-dropdown
      type="multi"
      [selectionFeedback]="'fixed'"
      [(ngModel)]="selectedCitiesCarbon"
      [label]="'Selected Cities (Multi-select does not allow grouping)'"
      [hideLabel]="false"
      [warn]="false"
      [warnText]="'Warning text'"
      (selected)="selectedCarbon($event)"
      (onClose)="onCloseCarbon($event)"
    >
      <cds-dropdown-list [items]="citiesCarbon"></cds-dropdown-list>
    </cds-dropdown>

  </div>
</div>
