<!-- <app-material-button />
<app-primeng-button />
<app-ngzorro-button /> -->

<!-- Material button -->
<!-- https://material.angular.io/components/button/overview -->
<button mat-flat-button>
  <mat-icon>mic</mat-icon>
  Flat Button
</button>
<button mat-flat-button disabled>Flat Disabled Button</button>
<a mat-flat-button href="https://www.google.com/" target="_blank">Flat Link</a>
<!-- icon variant -->

<!-- Link, stroked, flat, their icon, custom icon -->
<!-- + Ability to change typography, colors,
 border-radius, text color, border -->

<!-- PrimeNG button -->
<p-button label="Check" />

<button nz-button nzType="primary">Primary</button>
<button nz-button nzType="default">Default</button>
<button nz-button nzType="link">Dashed</button>
<a nz-button nzType="link">Link</a>
<br />
<button nz-button nzType="primary" >
  <!-- <nz-icon nzType="download" /> -->
  <img src="/src/assets/download.svg">
</button>
<button nz-button nzType="primary"  nzShape="circle">
  <!-- <nz-icon nzType="download" /> -->
  <!-- <img src="/src/assets/download.svg"> -->
</button>
<button nz-button nzType="primary"  nzShape="round">
  <!-- <nz-icon nzType="download" /> -->
  <!-- <img src="/src/assets/download.svg"> -->
</button>
<button nz-button nzType="primary"  nzShape="round">
  <!-- <nz-icon nzType="download" /> -->
  <!-- <img src="/src/assets/download.svg"> -->
  Download
</button>
<button nz-button nzType="primary" >
  <!-- <nz-icon nzType="download" /> -->
  <!-- <img src="/src/assets/download.svg"> -->
  Download
</button>