
<div class="button-collection">
  <!-- Material buttons -->
  <!-- https://material.angular.io/components/button/overview -->
  <div class="buttons-container">
    <h2 class="playground-header">Material: Buttons</h2>
    <button mat-flat-button>
      <mat-icon>mic</mat-icon>
      Flat Button, Their Icon
    </button>

    <button mat-flat-button>
      <mat-icon svgIcon="my_download_icon"></mat-icon>
      Flat Button, Custom Icon
    </button>
    
    <button mat-flat-button disabled>Flat Button, Disabled</button>

    <button mat-stroked-button>Stroked Button</button>

    <!-- Icon Button, Their Icon -->
    <button mat-icon-button>
      <mat-icon>mic</mat-icon>
    </button>
    
    <!-- Icon Button, Custom Icon -->
    <button mat-icon-button>
      <mat-icon svgIcon="my_download_icon"></mat-icon>
    </button>
    
    <a mat-flat-button href="https://www.google.com/" target="_blank">Flat Link</a>

    <button mat-flat-button class="customized-mat-flat-button">
      <mat-icon>mic</mat-icon>
      Flat Button, Customized
    </button>

    <button mat-stroked-button class="customized-mat-stroked-button">
      Stroked Button, Customized
    </button>

    <!-- Icon Button, Customized -->
    <button aria-label="Icon Button, Customized" mat-icon-button class="customized-mat-icon-button">
      <mat-icon svgIcon="my_download_icon"></mat-icon>
    </button>
  </div>

  <!-- PrimeNG buttons -->
  <!-- https://primeng.org/button -->
  <!-- https://primeng.org/theming -->
  <div class="buttons-container">
    <h2 class="playground-header">PrimeNG: Buttons</h2>
    <p-button label="Flat Button, Their Icon" icon="pi pi-user" />
    <p-button label="Flat Button, Custom Icon">
      <!-- Note: icon color not inherited from button (black) -->
      <!-- <img alt="dropdown icon" src="/assets/download.svg"> -->
      <app-svg-icon name="download"></app-svg-icon>
    </p-button>
    <p-button label="Flat Button, Disabled" [disabled]="true" />
    <p-button [outlined]="true" label="Stroked Button" />
    <p-button icon="pi pi-user" />
    <p-button>
      <img alt="dropdown icon" src="/assets/download.svg">
    </p-button>
    <p-button label="Flat Button, Customized" [dt]="customizedPrimengFlatButton">
      <img alt="dropdown icon" src="/assets/download.svg">
    </p-button>
    <p-button label="Stroked Button, Customized" [dt]="customizedPrimengStrokedButton">
      <img alt="dropdown icon" src="/assets/download.svg">
    </p-button>
    <p-button ariaLabel="Icon button, Customized" [dt]="customizedPrimengIconButton">
      <img alt="dropdown icon" src="/assets/download.svg">
    </p-button>
  </div>

  <!-- NgZorro button -->
  <div class="buttons-container">
    <h2 class="playground-header">NgZorro: Buttons</h2>
    <button nz-button nzType="primary">Primary</button>
    <button nz-button nzType="default">Default</button>
    <button nz-button nzType="link">Dashed</button>
    <a nz-button nzType="link">Link</a>
    <br />
    <button nz-button nzType="primary" >
      <!-- <nz-icon nzType="download" /> -->
      <img src="/src/assets/download.svg">
    </button>
    <button nz-button nzType="primary"  nzShape="circle">
      <!-- <nz-icon nzType="download" /> -->
      <!-- <img src="/src/assets/download.svg"> -->
    </button>
    <button nz-button nzType="primary"  nzShape="round">
      <!-- <nz-icon nzType="download" /> -->
      <!-- <img src="/src/assets/download.svg"> -->
    </button>
    <button nz-button nzType="primary"  nzShape="round">
      <!-- <nz-icon nzType="download" /> -->
      <!-- <img src="/src/assets/download.svg"> -->
      Download
    </button>
    <button nz-button nzType="primary" >
      <!-- <nz-icon nzType="download" /> -->
      <!-- <img src="/src/assets/download.svg"> -->
      Download
    </button>
  </div>

  <!-- Carbon buttons -->
  <div class="buttons-container">
    <h2 class="playground-header">Carbon: Buttons</h2>
    <button
      [cdsButton]="'primary'"
      [size]="'md'"
      [isExpressive]="true"
      [disabled]="false"
    >
      Flat Button, Their Icon
      <svg class="cds--btn__icon" cdsIcon="add" size="16"></svg>
    </button>

    <button
      [cdsButton]="'primary'"
      [size]="'md'"
      [isExpressive]="true"
      [disabled]="false"
    >
      Flat Button, Custom Icon
      <!-- <svg class="cds--btn__icon" cdsIcon="add" size="16"></svg> -->
      <!-- <img alt="dropdown icon" src="/assets/download.svg"> -->
      <mat-icon svgIcon="my_download_icon"></mat-icon>
    </button>

    <button
      [cdsButton]="'primary'"
      [size]="'md'"
      [isExpressive]="true"
      [disabled]="true"
    >
      Flat Button, Disabled
    </button>

    <button
      [cdsButton]="'tertiary'"
      [size]="'md'"
      [isExpressive]="true"
      [disabled]="false"
    >
      Stroked Button
    </button>

    <cds-icon-button
      buttonId="icon-btn1"
      type="button"
      [kind]="'primary'"
      [align]="'bottom'"
      [disabled]="false"
      [showTooltipWhenDisabled]="false"
      description="Icon Description"
    >
      <mat-icon svgIcon="my_download_icon"></mat-icon>
    </cds-icon-button>

    <cds-icon-button
      buttonId="icon-btn1"
      type="button"
      [kind]="'primary'"
      [align]="'bottom'"
      [disabled]="false"
      [showTooltipWhenDisabled]="false"
      description="Icon Description"
    >
      <svg class="cds--btn__icon" cdsIcon="add" size="16"></svg>
    </cds-icon-button>
  </div>
</div>