
<div class="button-collection">
  <!-- Material buttons -->
  <!-- https://material.angular.io/components/button/overview -->
  <div class="buttons-container">
    <button mat-flat-button>
      <mat-icon>mic</mat-icon>
      Flat Button, Their Icon
    </button>

    <button mat-flat-button>
      <mat-icon svgIcon="my_download_icon"></mat-icon>
      Flat Button, Custom Icon
    </button>
    
    <button mat-flat-button disabled>Flat Button, Disabled</button>

    <button mat-stroked-button>Stroked Button</button>

    <!-- Icon Button, Their Icon -->
    <button mat-icon-button>
      <mat-icon>mic</mat-icon>
    </button>
    
    <!-- Icon Button, Custom Icon -->
    <button mat-icon-button>
      <mat-icon svgIcon="my_download_icon"></mat-icon>
    </button>
    
    <a mat-flat-button href="https://www.google.com/" target="_blank">Flat Link</a>

    <button mat-flat-button class="customized-mat-flat-button">
      <mat-icon>mic</mat-icon>
      Flat Button, Customized
    </button>

    <button mat-stroked-button class="customized-mat-stroked-button">
      Stroked Button, Customized
    </button>

    <!-- Icon Button, Customized -->
    <button mat-icon-button class="customized-mat-icon-button">
      <mat-icon>mic</mat-icon>
    </button>
  </div>

  <!-- Link, stroked, flat, their icon, custom icon -->
  <!-- + Ability to change typography, colors,
  border-radius, text color, border -->

  <!-- PrimeNG button -->
  <div class="buttons-container">
    <p-button label="Check" />
  </div>

  <!-- NgZorro button -->
  <div class="buttons-container">
    <button nz-button nzType="primary">Primary</button>
    <button nz-button nzType="default">Default</button>
    <button nz-button nzType="link">Dashed</button>
    <a nz-button nzType="link">Link</a>
    <br />
    <button nz-button nzType="primary" >
      <!-- <nz-icon nzType="download" /> -->
      <img src="/src/assets/download.svg">
    </button>
    <button nz-button nzType="primary"  nzShape="circle">
      <!-- <nz-icon nzType="download" /> -->
      <!-- <img src="/src/assets/download.svg"> -->
    </button>
    <button nz-button nzType="primary"  nzShape="round">
      <!-- <nz-icon nzType="download" /> -->
      <!-- <img src="/src/assets/download.svg"> -->
    </button>
    <button nz-button nzType="primary"  nzShape="round">
      <!-- <nz-icon nzType="download" /> -->
      <!-- <img src="/src/assets/download.svg"> -->
      Download
    </button>
    <button nz-button nzType="primary" >
      <!-- <nz-icon nzType="download" /> -->
      <!-- <img src="/src/assets/download.svg"> -->
      Download
    </button>
  </div>
</div>